:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway, Arial, sans-serif;
  --accent-font: 'STIX Two Text', Verdana, serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  max-inline-size: 1440px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--main-font);
  font-weight: 400;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--text-color);
}

button:disabled {
  pointer-events: none;
}

.content-section {
  padding: 0 5vi;
}

.header {
  padding-block-start: 10%;
}

.header__title {
  margin-block-end: 40px;
  font-family: var(--accent-font);
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  line-height: 0.9em;
  font-weight: 700;
  text-align: center;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  border-block-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
  padding-block-start: 20px;
  padding-block-end: 20px;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.header__theme-button {
  position: relative;
  font: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header__theme-button:not([disabled]):hover {
  text-decoration-line: underline;
  text-decoration-color: rgb(49 42 78 / 0.5);;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  position: absolute;
  content: '';
  bottom: 2px;
  left: 0;
  inline-size: calc(100%);
  height: 0.5em;
  background-color: var(--accent-color);
  z-index: -1;
}

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 0.9em;
  text-align: center;
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-block-end: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__paragraph {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1em;
  font-weight: 400;
  color: var(--text-color);
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__link{
  color: inherit;
}

.content__blockquote {
  inline-size: 75%;
  margin: 0 auto;
  margin-block-end: 1.5em;
  font-size: 18px;
  line-height: 2em;
  font-style: italic;
}

.content__list {
  list-style: none;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1em;
  font-weight: 400;
}

.content__item {
  position: relative;
  padding-inline-start: 40px;
}

.content__item:not(:last-child) {
  margin-block-end: 10px;
}

.content__item::before {
  position: absolute;
  content: '';
  left: 20px;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  margin-inline-start: 1px;
  padding: 0 4px;
  background-color: var(--accent-color);
}

.content__figure {
  position: relative;
  left: -5vi;
  inline-size: calc(100% + 10vi);
  margin-block-start: 7%;
  margin-block-end: 7%;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  display: inline-block;
  inline-size: 100%;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1em;
  color: var(--text-color);
  font-weight: 400;
  border-block-end: 1px solid var(--text-color);
  text-align: center;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  margin-block-start: 7%;
  border: 1px solid currentColor;
}

.content__card-title {
  font-family: var(--accent-font);
  font-size: 60px;
  line-height: 0.9em;
  font-weight: 600;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: -1%;
  inline-size: calc(100% + 6px);
  background-color: var(--accent-color);
  height: 0.25em;
  z-index: -1;
}

.content__card-subtitle {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1em;
  font-weight: 400;
  color: currentColor;
}

.footer {
  margin-block-start: 10%;
  padding-block-start: 2.5%;
  padding-block-end: 2.5%;
  border-block-start: 1px solid var(--text-color);
  font: inherit;
  line-height: 1em;
  color: var(--text-color);
  text-align: center;
}

/*Тёмная тема*/

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.theme_dark .header__theme-button_is-active::after {
  background-color: transparent;
  background-image: url(../images/pattern.svg);
  background-position: center;
}

.theme_dark .content__text-block_type_first-lettered 
.content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);;
  background-position: center;
}

.theme_dark .content__item::before {
  background-image: url(../images/marker-dark.svg);
}